.prueba{

    margin-left: 15vw;
    height: 250px;
    width: 1020px;
    
}

table{

    background-color: rgb(35, 121, 121);
    border-radius: 5px;
    color: white;
    
}

body{
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../background-stain-shadow-color-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}